#top_image{
    /* border : 5px solid red; */
    /* background-image : url('ai.jpg'); */
    /* background-size : 20% 20%; */
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    /* image-rendering: auto; */
    margin-left: 70%;
    margin-top: 6%;
    /* border : 5px solid red; */
}

body{
    /* background-color: black; */
    /* background: linear-gradient(to bottom, #eb5757, #000000); */
    /* background: linear-gradient(to bottom, #000000, #434343); */
    /* background: linear-gradient(to bottom, #000000, #e74c3c);  */
    /* background: linear-gradient(to bottom, #232526, #414345); */
    /* background: linear-gradient(to bottom, #16222a, #3a6073); */
    /* background-image: linear-gradient(to left top, #1d6587, #285c7c, #2d5370, #304a64, #314258, #2d4155, #283f52, #253e4e, #1b4250, #104750, #084a4e, #0a4e49); */
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#introduction{
    background: linear-gradient(to bottom, #232526, #414345);
}

.topscroll{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-content: flex-end;
    /* background-color: orange; */
    height: 100px;
    width: 100%;
    /* border : 5px solid red; */
    /* border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%; */
    
}
#one1{
    margin-right: 30px;
}

/* #two2{

} */
.logo{
    margin-top: 40px;
    /* margin-left: 60px; */
    margin-right: 150px;
    position: absolute;
    /* border : 5px solid magenta; */
}
#heading_text{
    color: white;
    /* border : 5px solid green; */
    position: absolute;
    padding-left: 6.5%;
    padding-top: 5%;
    padding-right: 5%;
    font-family: 'Recursive', sans-serif;
    /* font-size: xxx-large;     */
    font-size: 4.6vw;
}

#middle_container{
    position: relative;
    margin-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    height: 500px;
    /* border : 5px solid blue; */
}



.buttons{
    /* border : 5px solid brown; */
    position: absolute;
    margin-top: 30%;
    margin-left: 5%;
}
  
.flex-container{
    display: flex;
    /* border : 5px solid lavenderblush; */
    width: 100%;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    position: relative;
    top: 40px;
}
.flex-child{
    display: flex;
    /* border : 5px solid rebeccapurple; */
    height: 300px;
    width: 300px;
    /* flex-wrap: nowrap; */
    justify-content: center;
    border-radius: 10%;
    transition: box-shadow .3s;
}

.flex-child:hover{
    box-shadow: -10px 10px 11px rgba(33,33,33,.2);
}

#one{
    background-image: url("images/project.png");
    background-repeat : no-repeat;
    /* background-size: contain; */
    background-size : 100% 70%;
    /* padding-top: 10.6em; */
    position: relative;
}

#two{
    background-image: url("images/roadmap.png");
    background-repeat : no-repeat;
    /* background-size: contain; */
    background-size : 100% 70%;
    /* padding-top: 10.6em; */
    position: relative;
}

#three{
    background-image: url("images/resourses.png");
    background-repeat : no-repeat;
    /* background-size: contain; */
    background-size : 100% 70%;
    /* padding-top: 10.6em; */
    position: relative;
}

.styling{
    margin-top: 7em;
    color: rgb(187, 153, 59);
    font-size: 30px;
    font-weight: 600;
    /* border : 5px solid red; */
    position: absolute;
    font-family: 'Klee One', cursive;
}

.footer{
    height: 600px;
    padding-top: 30px;
    /* border: 5px solid saddlebrown; */
    margin-top: 100px;
    position: relative;
    /* background: linear-gradient(to right, #06beb6, #48b1bf);  */
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    border-radius: 10%;
}

.back-image{
    /* height: 270px; */
    height: 90%;
    width: 47%;
    background-image: url('images/aboutus.png');
    background-repeat: no-repeat;
    /* border: 5px solid salmon; */
    position: absolute;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    margin-left: 5%;
}

/* .footer{
    border: 5px solid salmon;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    height: 400px;
}
.back-image{
    border: 5px solid seagreen;
    border-top-left-radius : 0.10%;
    border-image: 10%;
    width: 500px;
} */
